*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

body{
  background-color: white;

}

.menu
{
  background-color: black;
  text-align:center;
}
.menu ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu ul li
{
  width: 120px;
  padding:15px;
  padding:15px;
}

.menu ul li a
{
  text-decoration: none;
  color: #fff;
}
.active, .menu ul li:hover
{
  background-color: #2bab0d;
  border-radius: 3px;
}

.centre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.para
{
  color: grey;
  font-style: italic;
}
.text
{
  display: flex;
  align-items: flex-start;
  padding:50px;
}

.text2
{
  padding: 50px;
}

.head
{
  color: blue;
}
